# Ignore the output directory
output/

# Ignore refrence directories
notebooks/
antigravity_streamlit_agent_markdowns/

# Python caches
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Original notebook ignores
*fit_syn*
syn*
*.egg-info/
